*.class
*.jar
*jar
.hg/
.hgignore
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
/.lein-*
/.nrepl-port
/checkouts
/classes
/lib
/target
pom.xml
pom.xml.asc
.*.swp
doc/classdocs.html
doc/manual.pdf
gui
nogui
repl
pasta
doc/BogaczTutorialOnFreeEnergyPerception.pdf
doc/FeldmanFriston2010AttnUncertFreeEnergy.pdf
doc/phil.bib
*.bst
.DS_Store
gui_vars_table.html
.Rhistory
